@use '../../../scss/mixins' as mix;
@use '../../../scss/variables' as var;


.header {
  margin-bottom: 3em;
  margin-left: -1rem;
  margin-right: -1rem;
}

.action-bar {
  position: sticky;
  top: 0;
  z-index: 1;
  margin: -1rem -2rem 3em;
  padding-left: 1rem;
  padding-right: 1rem;
}

.movies-list-page {
  padding-left: 1rem;
  padding-right: 1rem;
  
  
  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 100px));
    row-gap: 2em;
    column-gap: 1em;
    justify-content: space-between;
  }

  @media screen and (max-width: 395px) {
    &__grid {
      grid-template-columns: repeat(auto-fill, minmax(50px, 90px));
  
    }
  }

  &__btn-edit {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
  }


}// .movies-list-page



.hidden {
  display: none;
}