@use '../../../scss/mixins' as mix;
@use '../../../scss/variables' as var;


.header {
  margin-bottom: 3em;
  margin-left: -1rem;
  margin-right: -1rem;
}

.action-bar {
  margin-top: -1rem;
  margin-bottom: 3em;
  margin-left: -2rem;
  margin-right: -2rem;

  padding-left: 1rem;
  padding-right: 1rem;
}

.movies-list-page {
  padding-left: 1rem;
  padding-right: 1rem;
  
  
  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 100px));
    row-gap: 2em;
    column-gap: 1em;
    justify-content: space-between;
  }

  &__btn-edit {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    border-radius: 50%;
    padding: 1em;
    border-color: transparent;
    background-color: var.$color-primary--yellow;
  
    @include mix.shadowed;
    transition: all .2s;
    transition-timing-function: ease-out;
  }
  
  
}// .movies-list-page

.hidden {
  display: none;


}