@use '../../../scss/variables' as var;
@use '../../../scss/mixins' as mix;

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-left: 1rem;
}

.login-page {
  
  &__logo {
    display: block;
    width: clamp(100px, 60%, 300px);
    margin: 5em auto;
  }
  
  &__form {
    margin-inline: 10%;
    
  }
  
  &__input-label {
    margin-bottom: .5em;
    display: block;
    font-weight: 550;
    font-size: 1.1rem;
    color: var.$color-primary--light-blue
  }
  
  &__input-text {
    width: 100%;
    padding: .7em .5em;
    margin-bottom: 2em;
    
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    
    background: var.$color-primary--light-blue-200;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-top-left-radius: .3em;
    border-top-right-radius: .3em;
    border-color: transparent;
    border-bottom-color: var.$color-primary--light-blue;
  }
  
  &__input-text:hover,
  &__input-text:focus,
  &__input-text:active {
    border-bottom-color: var.$color-primary--yellow;
  }
  
  &__input-text::placeholder {
    color: #fff;
    opacity: .2;
  }
  
  &__btn-demo {
    display: block;
    padding: .5em 4em;
    margin-inline: auto;
    margin-top: 1em;
    margin-bottom: 1.5em;
    font-family: inherit;
    font-size: 1.3rem;
    font-weight: bold;
    color: var.$color-primary--yellow;
    background: transparent;
    border-radius: 1em;
    border-width: 1.5px;
    border-style: solid;
    border-color: rgba(var.$color-primary--yellow, .5);
    transition: all .2s;
  }
  
  &__btn-login {
    display: block;
    padding: .5em 4em;
    margin-inline: auto;
    margin-top: 3em;
    margin-bottom: 1.5em;
    font-family: inherit;
    font-size: 1.3rem;
    font-weight: bold;
    color: #000;
    background: var.$color-primary--yellow;
    border-radius: 1em;
    border-width: 0;
    box-shadow: .1em .1em 1em 0 rgba(84, 68, 21, .5);
    transition: all .2s;
  }
  
  &__btn-login:active {
    transform: scale(.97);
    box-shadow: revert;
  }
  
  &__paragraph {
    text-align: center;
    font-weight: bold;
    margin-bottom: 1em;
  }
  
  &__btn-signup {
    display: block;
    margin-inline: auto;
    margin-bottom: 3em;
    padding: .5em 1em;
    
    font-weight: bold;
    font-size: 1rem;
    color: var.$color-primary--light-blue;
    
    border-radius: 1em;
    border-width: 1px;
    border-style: solid;
    border-color: var.$color-primary--light-blue;
    background-color: transparent;
  }
  
}// .login-page






