@use '../../../scss/variables' as var;


.action-bar {
  --icon-size: 2.5em;
  --icon-color: #fff;

  padding: .5em .5rem .5em .5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
  background-color: var.$color-primary--yellow;
  color: black;


  &__btn {
    background-color: transparent;
    border-color: transparent;
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  &__icon {
    // color: var(--icon-color);
    font-size: var(--icon-size);
  }
  
  &__title {
    font-weight: 500;
    font-size: 1rem;
  }

}// .action-bar