.header {
  --icon-size: 2.5em;
  --icon-color: #fff;
}


.header {
  padding: .5em 0 .5em 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;

  background-color: var(--color-primary--blue);
}

.header__btn-back {
  background-color: transparent;
  border-color: transparent;

  display: flex;
  align-items: center;
  justify-content: center;
}

.header__icon-back {
  color: var(--icon-color);
  font-size: var(--icon-size);
}


.header__title {
  font-weight: 500;
  font-size: 1rem;
}