.movie-poster {
  border-radius: .35em;
  width: 100px;
  height: 150px;
  overflow: hidden;
  background-color: rgba(var(--color-rgb-raw-primary--light-blue), 0.5);

  box-shadow: .1em .1em .5em  rgba(0, 0, 0, 0.5);
}

.movie-poster-image {
  display: block;
  width: 100%;
  object-fit: cover;
}