@use '../../../scss/variables' as var;
@use '../../../scss/mixins' as mix;


.search-page {

  /* display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start; */
}

.search-page__label {
  margin-bottom: 2em;
  
  color: var.$color-primary--light-blue;
  font-weight: bold;
}

.search-page__results {
  padding-bottom: 150px;

}

.search-page__box {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1.5em;

  overflow: hidden;

  --border-radius: 2em;
  --border-width: 3px;
  --border-style: solid;
  --border-color: var(--color-primary--dark-blue);
  background-color: var(--color-primary--blue);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);

  border-top-style: var(--border-style);
  border-top-width: var(--border-width);
  border-top-color: var(--border-color);

  border-left-style: var(--border-style);
  border-left-width: var(--border-width);
  border-left-color: var(--border-color);

  border-right-style: var(--border-style);
  border-right-width: var(--border-width);
  border-right-color: var(--border-color);
}


.search-page__container-input {
  display: flex;
  gap: 1em;
  justify-content: space-between;
  align-items: center;
}

.search-page__input {
  flex-grow: 1;
  align-self: stretch;
  
  position: relative;
}

.search-page__input-field {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  
  min-width: 10px;
  padding: .5em 1em;

  font-size: 1rem;
  font-weight: bold;
  font-family: inherit;
  color: var.$color--white;

  border-radius: 3em;
  border-style: solid;
  border-width: 3px;
  border-color: var(--color-primary--light-blue);
  background-color: var(--color-primary--blue);
}

.search-page__input-field::placeholder {
  font-size: inherit;
  font-family: inherit;
  color: var(--color-primary--light-blue);
}

//.search-page__input::-webkit-search-cancel-button {
//  color: var.$color-primary--yellow;
//}

.search-page__btn-search {

  border-radius: 50%;
  padding: 1em;
  border-color: transparent;
  background-color: var.$color-primary--yellow;

  @include mix.shadowed;
  transition: all .2s;
  transition-timing-function: ease-out;
}

.search-page__btn-search:active {
  @include mix.not-shadowed;
  transform: scale(.8) ;
}


.search-page__icon-search {
  display: block;
  color: #000;

}

.search-page__btn-clear{
  position: absolute;
  z-index: 10;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  
  background: transparent;
  border-color: transparent;
  
  transition: all .2s;
  transition-timing-function: ease-out;
}

.search-page__btn-clear:hover {
  cursor: pointer;
}

.search-page__btn-clear:active {
  transform: translateY(-50%) scale(.8) ;
}

.search-page__icon-clear {
  display: block;
  color: var.$color-primary--light-blue;

  
}

.loading {
  text-align: center;
  font-weight: bold;
  color: var.$color-primary--light-blue;
}