@use '../../../scss/variables' as var;
@use '../../../scss/mixins' as mix;

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-left: 1rem;
  // margin-right: -1rem;
}

.signup-page {
  padding: 3em 1rem 0;

  &__welcome {
    padding: 0 .5em 4em;
    margin-bottom: 3em;

    // text-align: center;

    // background-color: var.$color-primary--dark-blue;

    border-left-width: 2px;
    border-left-style: solid;
    border-left-color: var.$color-primary--dark-blue;

    // border-radius: .3em;
    // box-shadow: 0 1em 2em -.5em rgba($color: #000000, $alpha: .2);
  }

  &__title {
    padding: 0;
    font-size: 2em;
    margin-bottom: .2em;
  }

  &__app-name {
    color: var.$color-primary--yellow
  }

  &__subtitle {
  }
  
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
  }
  
  //&__profile-image {
  //}
  
  &__textfield{
    align-self: stretch;
  }

  &__btn-signup {
    display: block;
    padding: .5em 4em;
    margin-inline: auto;
    margin-top: 3em;
    margin-bottom: 1.5em;
    
    font-family: inherit;
    font-size: 1.3rem;
    font-weight: bold;
    
    background: var.$color-primary--yellow;
    border-radius: 1em;
    border-width: 0;
    box-shadow: .1em .1em 1em 0 rgba(84, 68, 21, .5);
    
    transition: all .2s;
  }


}// .signup-page