

.horizontal-movie-list {
}

.list-container {
  overflow-x: hidden;
}

.list-container> ul {
  padding: 1em 0;

  overflow: auto;
  scroll-behavior: smooth;
  overscroll-behavior-x: contain;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */

  display: flex;
  align-items: center;
  gap: 1.2em;
}

.list-container> ul::-webkit-scrollbar {
  display: none;
}

.list-item {
}

.movie-poster-link {
  display: block;
}

.movie-poster {
  width: 100px;
}

