.cast-list {
  overflow-x: hidden;
}

.cast-list  > ul {
  height: 100%;
  padding: 1em 0;

  overflow: auto;
  scroll-behavior: smooth;
  overscroll-behavior-x: contain;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */

  display: flex;
  align-items: center;
  gap: 1.2em;
}

.cast-list > ul::-webkit-scrollbar {
  display: none;
}