

.horizontal-movie-list {
}

.list-container {
  overflow-x: hidden;
  overscroll-behavior-x: contain;
}

.list-container> ul {
  padding: 1em 0;
  overflow: auto;
  scroll-behavior: smooth;
  display: flex;
  align-items: center;
  gap: 1.2em;
}