.movie-info-page {

}

.movie-info-page__header {
  position: fixed;
  top: 0;
  background-color: transparent;

  z-index: 100;
}

.movie-info-page__header img {
  padding: .2em;

  border-radius: 50%;
  box-shadow: 1px 1px 5px 0 rgba(0,0,0,.5);
  background-color: rgba(0, 157, 255, 0.1);

  backdrop-filter: blur(5px);
}

.movie-info-page__backdrop-container {
  position: relative;
  margin: -1rem -1rem 1em -1rem;

}

.movie-info-page__gradient {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background: linear-gradient(to top, rgba(0,0,0,.9), rgba(0,0,0,0));
}

.movie-info-page__backdrop {
  width: 100vw;
  height: 350px;

  display: block;

  object-fit: cover;
}

.movie-info-page__title {
  position: absolute;
  bottom: 0;
  padding: 1em;

  font-size: 1.6rem;
}