

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 35px;

  margin-bottom: 1em;
}


/************************************/
/* logo */
/************************************/
.main-header__logo-link {
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.main-header__logo-image {
  height: 60%;
}



/************************************/
/* navbar */
/************************************/
.main-header__nav {
  height: 100%;
  width: 40%;

  display: flex;
  align-items: center;
  justify-content: right;
  gap: 1em;
}

.main-header__link {

  display: flex;
  align-items: center;
  justify-content: center;
}

.main-header__link-icon {
  width: 30px;
}

.main-header__link-icon-profile {
  width: 34px;

  border-radius: 50%;
  border-width: 2px;
  border-color: var(--color-primary--light-blue);
  border-style: solid;

  box-shadow: 0 0 .5em  rgba(0, 0, 0, 0.5);
}

