@use '../../../scss/variables' as var;
@use '../../../scss/mixins' as mix;

.profile-page {
  margin-left: -1rem;
  margin-right: -1rem;
  //padding: 1rem;

}

.profile-page__main {
  padding: 0 1rem;
}

.profile-page__label {
  font-size: 1.2rem;
  margin-bottom: 1.5em;
}

.profile-page__btn-option {
  //margin-left: -1rem;
  //margin-right: -1rem;
  
  padding: 1em;
  
  text-align: start;
  font-size: 1rem;
  font-weight: 500;
  color: var.$color-primary--light-blue;
  
  width: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: var.$color-primary--light-blue;
  border-left-width: 0;
  border-right-width: 0;
  background-color: transparent;
  
}