
.main-nav {
  width: 100%;
  overflow: hidden;
  background-color: var(--color-primary--dark-blue);
  color: var(--color-primary--light-blue);
  border-radius: .5em;
  box-shadow: 2px 2px 0.2em 0 rgba(0,0,0,0.2);

  margin-bottom: 2.5em;

}

.main-nav__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-nav__item {
  flex-grow: 1;

}

.main-nav__link {
  padding-top: 10px;
  padding-bottom: 5px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-bottom-color: transparent;
  border-bottom-style: solid;
  border-bottom-width: 5px;
}

.main-nav__link--active {
  border-bottom-color: var(--color-primary--yellow);
}

.main-nav__link-icon {
  display: block;
  color: var(--color-primary--yellow);

}

.link-icon--active {
  color: var(--color-primary--yellow);

}