@keyframes anim-open {
  from {
    opacity: 0;
    transform: scale(0)
  }

  to {
    opacity: 1;
    transform: scale(1)
  }
}

@keyframes anim-close {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.dialog-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 500;

  backdrop-filter: blur(2px);
  background-color: rgba($color: #000000, $alpha: .4);

  display: flex;
  justify-content: center;
  align-items: center;
}


.dialog {
  background-color: #015896;
  box-shadow: 5px 5px .8em .2em rgba($color: #000000, $alpha: .2);
  border-radius: .5em;

  animation-duration: 200ms;
  animation-name: anim-open;
}
