@keyframes anim-open {
  from {
    opacity: 0;
    transform: scale(0)
  }

  to {
    opacity: 1;
    transform: scale(1)
  }
}

@keyframes anim-close {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.dialog-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 500;


  backdrop-filter: blur(2px);
  background-color: rgba($color: #000000, $alpha: .4);

  display: flex;
  justify-content: center;
  align-items: center;


}


.dialog {
  width: 70%;
  min-height: 150px;
  padding: 1.5em 1.5em 0;

  display: flex;
  flex-direction: column;
  gap: 1em;

  background-color: #015896;
  box-shadow: 5px 5px 1.5em rgba($color: #000000, $alpha: .7);

  animation-duration: 200ms;
  animation-name: anim-open;


  &__title {
    font-size: 1.15rem;
  }

  &__message {
  }

  &__buttons {
    margin-top: auto;

    display: flex;
    justify-content: flex-end;
    gap: 1em;

  }

  &__button {
    flex-grow: 0;
    padding: 1em;

    font-size: .9rem;
    color: #B2CCDF;
    text-transform: uppercase;
    font-weight: 500;

    background-color: transparent;
    border-color: transparent;

    transition: all .2s;
  }

  &__button:hover {
    transform: scale(1.09);

  }

}
